# Configurações do Servidor
APP_PORT=3000
APP_HOST=localhost
APP_DEBUG=false

# Configurações de Autenticação
JWT_PASS=livepraise-secret-key
JWT_ISSUER=livepraise
JWT_AUDIENCE=livepraise-users
JWT_EXPIRES_IN=24h

# Configurações do Electron
TEMA=default

# Configurações de Log
LOG_LEVEL=info

# Configurações de Ambiente
NODE_ENV=development
