@import url('roboto.css');
#background-rapido{
    padding: 0;
}
#background-rapido img{
    width: 100%;
    height: 45px;
}
#preview{
    width: 45vw;
    height: 25vw;
    padding: 0;
    float: right;
    background: #000000;
}
#preview img{
    width: 100%;
    height: 25vw;
}
#preview video{
    width: 100%;
    height: 25vw;
}
#video{
    width: 100%;
    height: 25vw;
    display: none;
}
#navegacao-tab{
    width: 55vw;
    height: 25vw;
    padding-left: 0;
    padding-right: 0;
}
#navegacao-itens{
    height: 25vw;
    padding: 0;
    float: left;
    width: 100vw;
}
.container-fluid{
    padding: 0 !important;
}
.chrome-tabs .chrome-tab {
    width: 243px
}

.chrome-tabs .chrome-tab:nth-child(1) {
    transform: translate3d(0px, 0, 0)
}

.chrome-tabs .chrome-tab:nth-child(2) {
    transform: translate3d(229px, 0, 0)
}
.texto{
    position: absolute;
    top: 0;
    margin: 2vw;
    height: 84%;
    width: 91%;
    color: #ffffff;
    text-shadow: 2px 2px 0px black, 3px 3px 0 black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.chrome-conteudo ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.chrome-conteudo li{
    border: solid 1px #cccccc;
    padding: 1vw;
    width: 10vw;
    height: 35vh;
    float: left;
    overflow: hidden
}
#preview-list{
    overflow-y: scroll;
    width: 100%;
    height: 37vh;

}
#preview-imagens{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    width: 100%;
    display: table;
}
#preview-imagens li{
    border: solid 1px #cccccc;
    padding: 3px;
    float: left;
    width: 10.7vw;
    height: 6vw;
    list-style: none;
}
#preview-imagens img {
    width: 100%;
    max-height: 100%;
}
#preview-videos{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    width: 100%;
    display: table;
}
#preview-videos li{
    border: solid 1px #cccccc;
    padding: 3px;
    float: left;
    width: 10.7vw;
    height: 6vw;
    list-style: none;
}
#preview-videos img {
    width: 100%;
    max-height: 100%;
}